@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Montserrat&display=swap');

html {
  background: #020204;
}

body {
  height: 100%;
  background: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: radial-gradient(
    circle farthest-corner at center center,
    #05050A,
    #010103
  ) no-repeat;
}

#banner {
  text-align: center;
  background: #FFE5A9;
  padding: 28px;
  color: #000;
}

#banner h1 {
  color: #000;
}
#banner p {
  color: #000;
}

#banner .e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #000;
  font-weight: bold;
}


h1 {
  font-family: 'Racing Sans One', serif;
  font-size: 2.8rem;
  line-height: 1.2;
  color: #fff;
}

h1 span {
  #color: #525266;
}


h1.logo {
  font-family: 'Racing Sans One', serif;
  font-size: 1.8rem;
  color: #525266;
  display: inline-block;
  padding-bottom: 20px;
}


h1.logo:hover {
  color:#FFE5A9;
}

h2 {
  font-family: 'Racing Sans One', serif;
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 3rem 0 1.5rem;
}

h3 {
  color: #FFE5A9;
  font-size: 1.4rem;
  padding: 2.5rem 0 2rem;
  font-weight: bold;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

ul {
  list-style-type: disc;
  padding-top: 0.5rem;
  padding-left: 4rem;
}

p, li {
  color: #889;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0 auto;
}

a {
  color: #889;
  text-decoration: none;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

a {
  color: #FFE5A9;
}
a:hover {
  color: #fff;
}

header {
  padding: 2rem 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 20;
  text-align: center;
}

header .title {
  padding: 1rem 0 4rem;
}

header .amg {
  margin: 6rem  auto;
  width: auto;
  max-width: 90%;
  height: 420px;
  background: url("../images/front.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
   webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}


#main {
  padding: 0rem 0 5rem;
  position: relative;
}

#main h2 span {
  color:#525266;
  position: relative;
  top: 3px;
}

#main ul.pricing {
  list-style-type: none;
  max-width: 80%;
}

#main ul.pricing li {
  padding: 0.8rem 0;
}

#main ul.pricing h3{
  display: inline;
}

#main span.price {
  float :right;
  font-weight: bold;
}

#main p, #main li {
  max-width: 90%;
}

#process {
  padding: 5rem 0 8rem;
  position: relative;
  text-align: center;
}

#process span {
  font-family: 'Montserrat', serif;
  font-size: 2.2rem;
  color: #FFE5A9;
}

#contact {
  padding: 5rem 0 8rem;
  position: relative;
  text-align: center;
}

#contact span {
  font-size: 2.2rem;
}

.section::before {
  border-top: 0.1rem solid #334;
  content: "";
  display: block;
  width: 6.25rem;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

footer {
  color: #9a9da9;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  padding: 2.5rem 0 4rem;
  text-align: center;
  position: relative;
  z-index: 30;
}


@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  header .amg {
    margin: 2rem  auto;
  }
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  #main span.price {
    display: block;
    float:none;
  }

  p, li {
    font-size: 1.1rem;
  }

  ul, #main ul.pricing {
    padding: 1rem;
    max-width: 100%;
  }
  header .amg {
    height: 250px;
  }

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}